body {
  background-color: #272B34;
  color: #fff;
  font-family: Arial, sans-serif;
}
.hide { display: none !important; }

button { padding: 10px; }
button:hover { cursor: pointer; }

main { 
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url(../img/bitcoin-bg.jpg);
  background-position: center;
}

.symbol { width: 30px; height: 30px; margin: -5px 3px 0 0; }
.upgrade { width: 50px; height: 50px; margin: -5px 3px 0 0; }
.miner { width: 50px; height: 42px; margin: -5px 3px 0 0; }
.autominer_1 { width: 50px; height: 42px; margin: -5px 3px 0 0; }
.autominer_2 { width: 50px; height: 35px; margin: -5px 3px 0 0; }

.totalDisplay { 
  position: fixed; 
  width: 100%; 
  height: 40px; 
  line-height: 40px;
  font-size: 1.5rem;
  text-align: center; 
  background-color: rgba(0,0,0, 0.9);
  border-bottom: solid 2px lightgreen;
}
.totalDisplay * { margin-right: 5px; }
button.reset { 
  position: absolute;
  right: 0;
  top: 5px;
  border: none;
  color: red;
  background: none;
  padding: 0px;
}

.companies { margin: 50px 0; }

.company { 
  display: flex;
  
  min-height: 150px;
  width: 90%; 
  text-align: left; 
  padding: 5px; 
  margin: 5px auto; 
  border: solid 2px orange; 
  border-radius: 20px;

  background-color: rgba(0,0,0, 0.75);
}
.company button { 
  width: 95%;
  font-size: 1.2rem; 
  letter-spacing: 1.5px; 
  border-radius: 5px;  
  margin: 8px 0;
}
.company button.available { 
  transition: box-shadow 1s, background-color 2s ease 0s;
  box-shadow: 0 0 6px 5px gold; 
  background-color: #fff6cc;
}

.company > section { width: 100%; text-align: center; }
.company > section > div { margin: 5px 5px 5px 0; }
.company > section > div > * { margin-right: 5px; }
.company > section > h1 { 
  display: inline-block; 
  margin: 0; 
}
.company > section progress { width: 100%; } 

.company > section.active > div.buttons { 
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  line-height: 2.5rem; 
}
.company > section.active > div.buttons > div.left { 
  display: flex; 
  flex-direction: column; 
  width: 60%;
  padding: 5px;
}
.company > section.active > div.buttons > div.right { 
  width: 33%; 
}
.company button.work { height: 90%; width: 100%; background-color: #2a9c2a; color: #fff;  }
.company button.work.active { background-color: red; color: #fff;  }
.company button.work .miner { margin-bottom: 7px; }

.company .inactive { 
  text-align: center; 
  height: 100%;
  align-items: center;
  justify-content: center;
}

footer {
  position: fixed; 
  bottom: 0;
  width: 100%; 
  height: 40px; 
  text-align: center; 
  background-color: rgba(0,0,0, 0.9);
  border-top: solid 2px lightgreen;  
}


@media only screen and (min-width: 560px) {
  /* Style adjustments for viewports that meet the condition */
  .upgrade { width: 30px; height: 30px; }
  .autominer_1 { width: 35px; height: 30px; margin: -5px 3px 0 0; }
}

@media only screen and (min-width: 1080px) {
  /* Style adjustments for viewports that meet the condition */
  .companies { width: 75%; margin: 75px auto; }
}